In [10]:
import requests
import pandas as pd

# weather API

In [1]:
weather_api_key = '95041eda0b6648c599383803191103'
url= 'http://api.apixu.com/v1/current.json?key=95041eda0b6648c599383803191103&q='

In [3]:
result = requests.get(url+'Bengaluru').json()
result

{'location': {'name': 'Bengaluru',
  'region': 'Karnataka',
  'country': 'India',
  'lat': 12.98,
  'lon': 77.58,
  'tz_id': 'Asia/Kolkata',
  'localtime_epoch': 1554436745,
  'localtime': '2019-04-05 9:29'},
 'current': {'last_updated_epoch': 1554435912,
  'last_updated': '2019-04-05 09:15',
  'temp_c': 26.0,
  'temp_f': 78.8,
  'is_day': 1,
  'condition': {'text': 'Sunny',
   'icon': '//cdn.apixu.com/weather/64x64/day/113.png',
   'code': 1000},
  'wind_mph': 10.5,
  'wind_kph': 16.9,
  'wind_degree': 310,
  'wind_dir': 'NW',
  'pressure_mb': 1019.0,
  'pressure_in': 30.6,
  'precip_mm': 0.0,
  'precip_in': 0.0,
  'humidity': 70,
  'cloud': 0,
  'feelslike_c': 27.8,
  'feelslike_f': 82.0,
  'vis_km': 8.0,
  'vis_miles': 4.0,
  'uv': 7.0,
  'gust_mph': 11.6,
  'gust_kph': 18.7}}

In [4]:
result['location']

{'name': 'Bengaluru',
 'region': 'Karnataka',
 'country': 'India',
 'lat': 12.98,
 'lon': 77.58,
 'tz_id': 'Asia/Kolkata',
 'localtime_epoch': 1554436745,
 'localtime': '2019-04-05 9:29'}

In [5]:
result['location']['lat']

12.98

In [6]:
result['current']

{'last_updated_epoch': 1554435912,
 'last_updated': '2019-04-05 09:15',
 'temp_c': 26.0,
 'temp_f': 78.8,
 'is_day': 1,
 'condition': {'text': 'Sunny',
  'icon': '//cdn.apixu.com/weather/64x64/day/113.png',
  'code': 1000},
 'wind_mph': 10.5,
 'wind_kph': 16.9,
 'wind_degree': 310,
 'wind_dir': 'NW',
 'pressure_mb': 1019.0,
 'pressure_in': 30.6,
 'precip_mm': 0.0,
 'precip_in': 0.0,
 'humidity': 70,
 'cloud': 0,
 'feelslike_c': 27.8,
 'feelslike_f': 82.0,
 'vis_km': 8.0,
 'vis_miles': 4.0,
 'uv': 7.0,
 'gust_mph': 11.6,
 'gust_kph': 18.7}

In [7]:
result['current']['condition']['text']

'Sunny'

In [8]:
result['current']['temp_c']

26.0

In [11]:
cities = ['Chennai','Bengaluru','Pune','Hyderabad','London',
         'Kashmir','Coimbatore']
df = pd.DataFrame()
for city in cities:
    result = requests.get(url+city).json()
    cur_row = {"Place" :result['location']['name'],
               "Country":result['location']['country'],
               "Temperature in c":result['current']['temp_c'],
              "wind speed ":result['current']['wind_mph'],
              "latitude":result['location']['lat'],
              "longitude":result['location']['lon']}
    df = df.append(cur_row,ignore_index=True)
df

,Country,Place,Temperature in c,latitude,longitude,wind speed
0,India,Chennai,32.0,13.08,80.28,9.4
1,India,Bengaluru,26.0,12.98,77.58,10.5
2,India,Pune,26.3,18.53,73.87,6.7
3,India,Hyderabad,31.0,17.38,78.47,0.0
4,United Kingdom,London,8.0,51.52,-0.11,11.9
5,Pakistan,Kashmir,32.4,29.03,67.95,7.4
6,India,Coimbatore,28.0,10.99,76.96,5.6

# Zomato

In [12]:
api_key = 'e1911d12711e90b775f55691a2b74fdb'
headers = {'user-key' : api_key}
categories = requests.get("https://developers.zomato.com/api/v2.1/categories",headers=headers).json()

In [13]:
categories_list = pd.DataFrame()
for index in categories['categories']:
    cur_row = {
        "ID" : index['categories']['id'],
        "Category" : index['categories']['name']
    }
    categories_list = categories_list.append(cur_row,ignore_index=True)
categories_list

                    Category    ID
0                   Delivery   1.0
1                   Dine-out   2.0
2                  Nightlife   3.0
3                Catching-up   4.0
4                   Takeaway   5.0
5                      Cafes   6.0
6                Daily Menus   7.0
7                  Breakfast   8.0
8                      Lunch   9.0
9                     Dinner  10.0
10               Pubs & Bars  11.0
11  Pocket Friendly Delivery  13.0
12           Clubs & Lounges  14.0

In [14]:
requests.get("https://developers.zomato.com/api/v2.1/locations?query=bengaluru",headers=headers).json()

{'location_suggestions': [{'entity_type': 'city',
   'entity_id': 4,
   'title': 'Bengaluru',
   'latitude': 12.971606,
   'longitude': 77.594376,
   'city_id': 4,
   'city_name': 'Bengaluru',
   'country_id': 1,
   'country_name': 'India'}],
 'status': 'success',
 'has_more': 0,
 'has_total': 0}