In [1]:
from selenium import webdriver
browser = webdriver.Chrome('chromedriver.exe')

In [2]:
import pandas as pd,numpy as np

In [3]:
#IMDB TOP INDIAN MOVIES
browser.get('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f299869f-a183-4a64-a887-6491356429b6&pf_rd_r=8ZE4EKVP4GG7RTN02D5T&pf_rd_s=right-4&pf_rd_t=15061&pf_rd_i=homepage&ref_=hm_india_tr_rhs_1')

In [12]:
#reading using pandas
pd_table = pd.read_html('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f299869f-a183-4a64-a887-6491356429b6&pf_rd_r=8ZE4EKVP4GG7RTN02D5T&pf_rd_s=right-4&pf_rd_t=15061&pf_rd_i=homepage&ref_=hm_india_tr_rhs_1')
len(pd_table)

2

In [9]:
pd_table[0].head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Anand (1971),8.7,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. Drishyam (2013),8.6,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. Nayakan (1987),8.6,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. Anbe Sivam (2003),8.5,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. Gol Maal (1979),8.5,12345678910 NOT YET RELEASED Seen,NaN

In [10]:
pd_table[1].head()

,0,1,2,3,4,5,6,7
0,Amazon Affiliates,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Prime Video Unlimited Streamingof Movies & TV,Amazon UK Buy Movies onDVD & Blu-ray,Amazon Germany Buy Movies onDVD & Blu-ray,Amazon Italy Buy Movies onDVD & Blu-ray,Amazon France Buy Movies onDVD & Blu-ray,Amazon India Buy Movie andTV Show DVDs,DPReview DigitalPhotography,Audible DownloadAudio Books

In [13]:
#alternate type of reading tables
browser.get('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f299869f-a183-4a64-a887-6491356429b6&pf_rd_r=8ZE4EKVP4GG7RTN02D5T&pf_rd_s=right-4&pf_rd_t=15061&pf_rd_i=homepage&ref_=hm_india_tr_rhs_1')

In [15]:
table_tag = browser.find_element_by_css_selector('table.chart.full-width[data-caller-name="imdb-featured-india"]')
table_tag

In [21]:
thead = table_tag.find_element_by_css_selector('thead')
trtag = thead.find_element_by_css_selector('tr')
thtags = trtag.find_elements_by_css_selector('th')
len(thtags)

5

In [23]:
#alternate to above
thtags = table_tag.find_elements_by_css_selector('thead > tr > th')
len(thtags)

5

In [18]:
col_names = [tag.text for tag in thtags]
col_names

['', 'Rank & Title', 'IMDb Rating', 'Your Rating', '']

In [29]:
listtag = table_tag.find_elements_by_css_selector('tbody.lister-list > tr')
len(listtag)

250

In [78]:
rank_and_title = []
imdb_rating = []
posterurl = []
for tag in listtag:
    posterurl.append(tag.find_element_by_css_selector('img').get_attribute('src'))
    rank_and_title.append(tag.find_element_by_css_selector('td.titleColumn').text)
    imdb_rating.append(tag.find_element_by_css_selector('td.ratingColumn').text)

movie_rating = pd.DataFrame({"poster URL" : posterurl,
                             col_names[1] : rank_and_title,
                             col_names[2] : imdb_rating})
movie_rating.head()

,poster URL,Rank & Title,IMDb Rating
0,https://m.media-amazon.com/images/M/MV5BNmZkMT...,1. Anand (1971),8.7
1,https://m.media-amazon.com/images/M/MV5BYmY3Mz...,2. Drishyam (2013),8.6
2,https://m.media-amazon.com/images/M/MV5BZDhkMT...,3. Nayakan (1987),8.6
3,https://m.media-amazon.com/images/M/MV5BNWQxY2...,4. Anbe Sivam (2003),8.5
4,https://m.media-amazon.com/images/M/MV5BMjA4OT...,5. Gol Maal (1979),8.5

In [79]:
import re
count =0 

for i in movie_rating['Rank & Title']:
    movie_rating['Rank & Title'][count] = re.findall(" (.*) $",i.split('(')[0])[0]
    count = count +1
movie_rating.head()

                                          poster URL Rank & Title IMDb Rating
0  https://m.media-amazon.com/images/M/MV5BNmZkMT...        Anand         8.7
1  https://m.media-amazon.com/images/M/MV5BYmY3Mz...     Drishyam         8.6
2  https://m.media-amazon.com/images/M/MV5BZDhkMT...      Nayakan         8.6
3  https://m.media-amazon.com/images/M/MV5BNWQxY2...   Anbe Sivam         8.5
4  https://m.media-amazon.com/images/M/MV5BMjA4OT...     Gol Maal         8.5

In [96]:
#writing to csv files
movie_rating.to_csv("imdb_top25_indian_movies.csv",index=False)